/* === Umum === */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  color: #003566;
}

p {
  font-size: 15px;
  color: #333;
}

/* === Navbar === */
.navbar-custom {
  background-color: #005F57;
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: white !important;
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffc107 !important;
  text-decoration: underline;
}


/* === Gambar Berita === */
.berita-gambar {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}

/* === Kutipan === */
.blockquote {
  background-color: #f1f1f1;
  font-style: italic;
}

.submenu-wbi {
  background-color: #C75D2C; /* Warna teal / hijau WBI */
}

.submenu-link {
  color: white;
  margin: 0 10px;
  font-weight: 600;
  text-decoration: none;
  padding: 6px 12px;
}

.submenu-link:hover,
.submenu-link.active {
  background-color: white;
  color: #C75D2C;
  border-radius: 5px;
}

.text-justify {
  text-align: justify;
}

.btn-lihat {
  padding: 10px 25px;
  background-color: #198754;
  color: white;
  text-decoration: none;
  border-radius: 50px;
}
.btn-lihat:hover {
  background-color: #146c43;
}

.footer {
    background-color: #484848;
    padding: 30px;
    font-size: 14px;
    margin-top: 60px;
    width: 141,10px;
    margin-left: -150px
}